body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
}

.title-box {
  background-color: #8ca1f2;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

h1 {
  margin: 0;
}
h3{
  margin: 0;
}

.content {
  text-align: center;
}

.content p {
  margin-top: 20px;
}

.custom-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #f4f4f5;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #fff;
  text-align: center;
}

.custom-table th {
  background-color:  #8ca1f2;
  font-weight: bold;
  color: #050505;
}

.custom-table tr:nth-child(even) {
  background-color: #050505;
}

.custom-table tr:hover {
  background-color: #425fd7;
}

.custom-table td:first-child {
  font-weight: bold;
}

.info-box {
  border: 1px solid #8ca1f2;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-div {
  text-align: center;
  margin-top: 20px;
}
.bg-custom {
  background-color: #8ca1f2;
}

.button-div button {
  background-color: #8ca1f2;
  color: #fff;
  border: none;
  padding: ;



